{% extends 'base.html' %} 

{% comment %} unifica todos las carpetas templates y lo busca {% endcomment %}

{% block title_head %}
<title>About</title>
{% endblock title_head %}

{% block h1_header %}
 Autor:Alejandro Klein <br> 
 Mail:aleklein2014@gmail.com
{% endblock h1_header %}

{% block contenido %}
<p>

 <h6>
 Se realiza un sitio web pensado para profesores de  una Universidad de Santo Domingo.
 Estos podran tener un usuario que les permita logearse para cargar los datos del alumno en cuestion,modificarlos,borrarlos,realizar una busqueda del mismo para visuualizar sus datos (los datos son nombre del alumno - materia - nota - fecha de examen - descripcion breve) y desloguearse. Se penso con la idea de que todos los cambios relevantes se hagan si el usuario esta logeado, sino solo podra ver los detalles del alumno.
 Tambien tiene un acceso a un registro de usuario que le permitira al profesor crear una cuenta con sus datos y un avatar o imagen suya (la cual se mostrara junto a su perfil).
 </h6>

</p>
{% endblock contenido %}
