{% extends 'base.html' %} 

{% comment %} unifica todos las carpetas templates y lo busca {% endcomment %}

{% block title_head %}
<title>Eliminar Alumn@</title>
{% endblock title_head %}

{% block h1_header %}
Eliminar Alumno/a {{alumno.nombre}}
{% endblock h1_header %}

{% block contenido %}
<form action={% url 'inicio:eliminar_alumno' alumno.id %} method="post">
   {% csrf_token %}
    <p>
     Va eliminar a {{alumno}}   
    </p>
    <button>Confirmar</button>
</form>

{% endblock contenido %}

