{% extends 'base.html' %} 

{% comment %} unifica todos las carpetas templates y lo busca {% endcomment %}

{% block title_head %}
<title>Modificar Alumn@</title>
{% endblock title_head %}

{% block h1_header %}
Modificar Alumno/a {{alumno.nombre}}
{% endblock h1_header %}

{% block contenido %}
<form action={% url 'inicio:modificar_alumno' alumno.id %} method="post" enctype='multipart/form-data'>
   {% csrf_token %}
    <table>
    {{form}}
    {{form.media}}
   </table> 
    <button>Modificar</button>
</form>
<p>
    
</p>
<form action={% url 'inicio:alumnos' %}>
    <button>Volver</button>
</form>

{% endblock contenido %}

